/* h1 {
    color:black;
    font-family:;
    font-size:;
    border-width:;
    border-style:;
}

a {
    color:black;
    font-family:;
    font-size:;
    border-width:;
    border-style:;
}

p {
    color:black;
    font-family:;
    font-size:;
    border-width:;
    border-style:;
}

h2{
    color:black;
    font-family:;
    font-size:;
    border-width:;
    border-style:;
} */